

.postcard {
    background-color: white;
    width: 400px;
    height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
    
	
}

img {
	width: 50px;
	height: 50px;
    margin: 5px;
} 

body{
    background: black;
}

h1{
    margin: 5px;
    width: 400px;   
}

.postcard-body{
    display: flex;
}

.body-left p:first-child{
    margin-top: 0px;
}

.body-left,
.body-right{
    padding: 5px;
}
input{ 
    width: 100%; 
    padding: 5px; 
    margin: 3px 0; 
    border: 0; 
    border-bottom: 1px solid #BDBDBD;
    box-sizing: border-box;
}

    .postcard-footer{
    text-align: center;
    
}
.buttom{
    background-color: grey;
    padding: 5px;
    margin-top: 40px;
}